<%- include('includes/head.ejs') %>
<body>
  <div class="container">
    <h1>404</h1>
    <p>page not found</p>
    <a class="btn" href="/">Return main page</a>
  </div>
</body>
<%- include('includes/foot.ejs') %>
